name: Deploy ACUL Screens

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      VITE_PUBLIC_CDN: https://${{ secrets.CLOUDFRONT_DOMAIN }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Install ts-node
        run: npm install --save-dev ts-node

      - name: Build Screens
        run: npm run build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Deploy to CloudFront
        run: npm run deploy
        env:
          S3_BUCKET: auth0-acul-samples-jeremie
          CLOUDFRONT_ID: ${{ secrets.CLOUDFRONT_ID }}
          CLOUDFRONT_DOMAIN: ${{ secrets.CLOUDFRONT_DOMAIN }}

      - name: Install Auth0 CLI
        run: |
          curl -sSfL https://raw.githubusercontent.com/auth0/auth0-cli/main/install.sh | sh -s -- -b .
          sudo mv ./auth0 /usr/local/bin

      - name: Configure Auth0 Screens
        run: |
          # Login to Auth0
          auth0 login --domain ${{ secrets.AUTH0_DOMAIN }} \
                      --client-id ${{ secrets.AUTH0_CLIENT_ID }} \
                      --client-secret ${{ secrets.AUTH0_CLIENT_SECRET }}

          # Auth0 Screens to deploy with ACUL
          PROMPT_SCREEN_PAIRS=("login-id:login-id" "login-password:login-password" "login-passwordless:login-passwordless-email-code" "login-passwordless:login-passwordless-sms-otp")

          for pair in "${PROMPT_SCREEN_PAIRS[@]}"; do
            IFS=":" read -r prompt screen <<< "$pair"

            # Replace placeholders in template
            sed -e "s|{{CLOUDFRONT_DOMAIN}}|${{ secrets.CLOUDFRONT_DOMAIN }}|g" \
                -e "s|{{SCREEN}}|${screen}|g" \
                scripts/settings.template.json > settings.json

            # Deploy screen with specific prompt and screen
            auth0 ul customize \
              --rendering-mode advanced \
              --prompt "$prompt" \
              --screen "$screen" \
              --settings-file settings.json
          done
